
* {
  padding: 0;
  margin: 0;
  font-family: serif;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}

a{
  text-decoration: none;
  color: #fff;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.form-box-login {
  position: relative;
  z-index: 10000;
}

.overlay.show {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%; 
  z-index: 99;
  background-color: #191717;
}

.logo {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
}

nav a {
  padding-right: 20px;
}

.navigation .dropdown {
  position: relative;
  display: inline-block;
}

.navigation .dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navigation .dropdown:hover .dropdown__menu {
  display: block;
}
 
.navigation .dropdown__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation .dropdown__menu li {
  padding: 20px;
}
.navigation .dropdown__menu li a {
  color: #000000;
  width: 100px;
  display: inline-block;
}

/* Modify styles for the login button */
.navigation .btnLogin {
  width: 130px;
  height: 40px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin::after {
  backdrop-filter: blur(20px);
  background-color: #000000;
  }

  .navigation .btnLogin:hover {
    background: #fff;
    color: #162938;
  }

  .wrapper {
    display:flex;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 361px;
    height: 440px;
    background: rgba(255, 255, 255, 0.61);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99999999999999;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    transition: transform .5s ease, height .2s ease;
  } 

  .wrapper.active-popup {
    transform: scaleX(1);
  }

  .wrapper.active {
    height: 520px;
  }

  .wrapper .form-box-login h2 {
    top: -34px;
    position: fixed;
    left: 59px;
  }

  .wrapper .form-box-login {
    transition: tramsform .18s ease;
    transform: translateX(0);
  }

  .wrapper.active .form-box-login {
    transition: none;
    transform: translateX(-400px);
  }

  .wrapper .form-box-register h2 {
    top: -34px;
    position: fixed;
    left: 30px;
  }
  .wrapper .form-box-register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }

  .wrapper.active .form-box-register {
    transition: tramsform .18s ease;
    transform: translateX(0);
  }

  .wrapper .form-box {
    width: 100%;
    padding: 40px;
  }

  .wrapper .icon-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }

  .form-box h2 {
    font-size: 2em;
    color: red;
    text-align: center;
  }

  .input-box-login {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #1a1717;
    margin: 30px 0;
  }
  
  .input-box-login label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }

  .input-box-login input:focus~label,
  .input-box-login input:valid~label {
    top: -5px;
  } 

  .input-box-login input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
  }

  .input-box-login .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #0c0c0c;
    line-height: 57px;
  }

  .remember {
    justify-content: space-between;
    display: flex;
    font-weight: 500;
    margin: -15px 0 15px;
    color: #162938;
    font-size: 12px;
  }

  .remember label input {
    accent-color: #162;
    margin-right: 3px;
  }

  .remember a {
    color: #162938;
    text-decoration: none;
  }

  .remember a:hover {
    text-decoration: underline;
  }

  .btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
  }

  .Login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

  .Login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }

  .Login-register p a:hover {
    text-decoration: underline;
  }

.Website {
  position: relative;
  width: 100%; 
  height: 700px;
  margin-bottom: 80px;
}

.Website img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0.5; 
}

.Website h1 {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 80px;
  padding-left: 20px;
  top: 25%;
} 

.Website .line1 {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 17px;
  top: 26%;
  font-size: 30px;
}

#about-us h1{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}

.about-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content .about-img{
  width: 90%;
  margin-right: 40px;
}

.about-content .about-img img{
  width: 100%;
}

.about-text{
  width: 100%;
  min-height: 1px;
  padding-right: 25px;
  padding-left: 25px;
}

.about-text h2{
  margin-bottom: 30px;
}

.about-text p{
  color: #a7a7a7;
  line-height: 1.6;
}

.first-about{
  margin-bottom: 150px;
}

.second-about{
  margin-bottom: 100px;
}
.features{
  height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  justify-content: space-between;
}

.feature-icon{
  color: #6ebcf8;
  font-size: 40px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.feature{
  text-align: center;
}

.feature h3{
  margin-bottom: 30px;
}

.feature p{
  color: #a7a7a7;
  width: 70%;
  margin: auto;
}


#products h1{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}

#products h2{
  text-align: center;
  color: #a7a7a7;
}

.vitamins , .skin-care , .tools{
  height: 600px;
}

.vitamins h2 , .skin-care h2 , .tools h2{
  margin-bottom: 100px;
}

.products{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product{
  width: 20%;
  height: 100%;
  border: 1px solid #a7a7a7;
  
}

.product-img{
  background-color: #f7f6f6;
}

.product-img img{
  width: 100%;
}

.product-price{
  font-size: 20px;
  font-weight: 600;
  color: #6ebcf8;
}


.product-name , .product-price , .product button {
  margin: 20px;
}

.product button{
  padding: 8px;

}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
